/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #26a69a;
 }
 
 .parallax-container {
   min-height: 420px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 body {
   display: flex;
   min-height: 50vh;
   flex-direction: column;
 }
 
 .listafotter a {
   color: rgba(0, 0, 0, 0.87);
   text-decoration: none;
 }
 
 .ico {
   margin-top: 4px;
 }
 
 nav img {
   height: 48px;
   width: 48px; 
 }

  h2 {
  font-size: 1.64rem;
 }
 .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


h3 {
	  font-size: 2.60rem;
	  color:green;
}

a h3 {
	  color:steelblue;
}
.parallax-container h1{
	font-size: 4.92rem;
}
.parallax-container h2{
	font-size: 2.62rem;
	  font-weight: 400;
}
.parallax-container p{
	font-size: 2.62rem;
	  font-weight: 400;
}


.menospadingsuperior{
   margin-top: -8px;
}